__pycache__/
main.aux
main.log
main.out
main.pdf
main.synctex.gz
.DS_Store
*~
*.svg
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.dvi
*.log
*.aux
_*.tex
_*.bib
_*.pdf
*.pdf_tex
mainNotes.bib
/Manifest.toml
/docs/Manifest.toml
/docs/build/
/data/graphplot/
/data/graphs/
/datasets/plots/
.vscode/
m4n5pad1_min4max20_direct4.*
m3n6pad1_min3max18_direct4.*
m3n7pad1_min3max21_direct4.*
/notes/